<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form onsubmit="return submitForm()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        // create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // set the request method and target URL
        xhr.open('POST', 'http://localhost:8081/customer/login');

        // set the content type header if you are sending data in the request body
        xhr.setRequestHeader('Content-Type', 'application/json');

        // define a callback function to handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                var result = xhr.responseText;
                console.log(xhr.responseText);
            } else {
                console.log('Request failed.  Returned status of ' + xhr.status);
            }
        };

        // get the form data
        const formData = new FormData(document.querySelector('#myForm'));

        // send the request
        xhr.send(formData);

        if (result) {
            alert('Login Success');
            window.location.href("http://localhost:8081/customer/profile")
            return true;
        } else {
            alert('Login Failed');
            return false;
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
